body {
	font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
	color: #6f6f6f;
	background-color: #fff;
	font-size: 40px;
	user-select: none;
	cursor: default;
}

h2 {
	font-size: 28px;
	text-indent: 24px;
	margin-bottom: 0px;
	text-align: left;
}

h3 {
	font-size: 14px;
	text-indent: 24px;
	margin-top: 0px;
	text-align: left;
	transition: all 0.2s;
}

#table-of-contents {
	background-color: inherit;
	top: 0px;
	left: 0px;
	width: 280px;
	height: 100%;
	outline: none;
	position: absolute;
	background: solid;
	background-color: var(--light-gray);
	overflow-y: auto;
}

div#view-body, iframe#view-body {
	background: none;
	border: none;
	height: 100%;
	width: calc(100% - 280px);
	top: 0;
	left: 280px;
	position: absolute;
	animation: fadeIn ease 0.2s;
}

input {
	border: 3px solid;
	border-radius: 6px;
	padding: 4px;
	transition: all 0.2s;
}

input:focus {
	outline: none;
	box-shadow: 0 0 10px;
}

input[type=submit] {
	outline: none;
}

input[type=submit]:hover {
	box-shadow: 0 0 10px #000;
}

input[type=submit]:active {
	transition: 0s;
}