body {
	color: var(--green);
	margin: 0;
}

h2 {
	position: relative;
	left: calc(50% - 200px);
	text-indent: 0;
	font-size: 20px;
	display: inline-block;
}

h3 {
	position: relative;
	display: inline-block;
	left: calc(50% - 200px);
	margin-bottom: 12px;
	text-indent: 12px;
	font-weight: normal;
}

h4 {
	color: #ff0000;
	margin: 0;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
}

a {
	font-size: 14px;
}

div#body {
	position: absolute;
	border: var(--green) 6px solid;
	border-radius: 12px;
	box-shadow: 0 0 10px;
	padding: 6px;
	width: 400px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
}

div#gender {
	position: relative;
	width: calc(50% - 12px);
	margin: 6px;
	display: inline-block;
}

input:not([type=radio]) {
	width: calc(50% - 12px);
	border-color: var(--green);
	margin: 6px;
}

input[type=submit] {
	color: #fff;
	background-color: var(--green);
}

input[type=submit]:active {
	background-color: #0f4f0f;
}