body {
	margin: 0;
}

input {
	position: relative;
	border-color: var(--pink);
	width: 120px;
	margin: 6px;
	display: inline-block;
}

input[disabled] {
	color: var(--pink);
	background-color: var(--pink);
	cursor: not-allowed;
}

a.label {
	position: relative;
	color: var(--pink);
	margin: 6px;
	font-size: 14px;
	width: calc(50% - 26px);
	display: inline-block;
}

a.checkbox {
	position: relative;
	background: none;
	color: var(--pink);
	border: var(--pink) 1px solid;
	border-radius: 6px;
	margin: 6px;
	padding: 6px;
	font-size: 14px;
	text-align: center;
	width: calc(50% - 26px);
	transition: all 0.2s;
	display: inline-block;
}

a.checkbox:hover {
	box-shadow: 0 0 10px #000;
}

a.checkbox:active {
	color: var(--pink-dark);
	border-color: var(--pink-dark);
	transition: all 0s;
}

a.checkbox[active]:active {
	color: #fff;
	background-color: var(--pink-dark);
}

a.checkbox[active] {
	color: #fff;
	background-color: var(--pink);
}