body {
	position: relative;
	width: 400px;
	left: 50%;
	margin: 0;
	padding: 0;
	transform: translateX(-50%);
}

b {
	position: relative;
	color: var(--red);
	background: solid;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	border: 1px solid;
	border-color: var(--red);
	padding: 12px;
	margin: 6px;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 91px;
	border-radius: 6px;
	transition: all 0.2s;
	display: inline-block;
}

b:hover {
	box-shadow: 0 0 10px #000;
}

b[selected] {
	color: #fff;
	background-color: var(--red);
	box-shadow: 0 0 10px;
	box-shadow: 0 0 10px #000;
}

div label {
	font-size: 12px;
	color: var(--red);
}

div[name="count-cont"] {
	left: calc(50% - 200px);
	width: 200px;
}

div[name="count-cont"] input {
	width: 60px;
}

select {
	position: relative;
	border: var(--red) 1px solid;
	border-radius: 6px;
	width: calc(50% - 18px);
	margin: 6px;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 6px;
	display: inline-block;
	transition: all 0.2s;
	-webkit-appearance: none;
}

select[disabled] {
	color: var(--red);
	background-color: var(--red);
	cursor: not-allowed;
}

select:hover {
	box-shadow: 0 0 10px;
}

select:focus {
	outline: none;
	box-shadow: 0 0 10px;
	transition: 0;
}

input {
	border-color: var(--red);
	margin: 6px;
	margin-top: 12px;
	margin-bottom: 12px;
	text-indent: 2px;
	font-size: 14px;
	width: calc(50% - 18px);
	transition: all 0.2s;
}

input[disabled] {
	color: var(--red);
	background-color: var(--red);
	cursor: not-allowed;
}

input[type=submit] {
	position: relative;
	color: #fff;
	background-color: var(--red);
	border-color: var(--red);
	margin: 0;
	margin-top: 12px;
	text-indent: 0px;
	font-size: 14px;
	width: 120px;
	left: 50%;
	transform: translateX(-50%);
}

input[type=submit]:active {
	background-color: #4f0f0f;
	border-color: #4f0f0f;
}

div input::-webkit-calendar-picker-indicator {
	color: var(--red);
	transition: all 0.2s;
}

div input::-webkit-calendar-picker-indicator:hover {
	background: none;
}

a {
	position: relative;
	color: #ff0000;
	font-size: 14px;
	margin-top: 12px;
	text-align: center;
	display: block;
}